.header {
    padding: 50px 0;
}

.header .container {
    display: flex;
    align-items: center;
    gap: 95px;
}

.header__link + .header__link {
    margin-left: 95px;
}

.header__nav {

}

.header__link {

}
