.stats {
    margin-top: 135px;
}

.stats .container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.stats__img-wrapper {
    position: relative;
}

.stats__img-wrapper::before {
    content: "";
    width: 100%;
    height: 100%;
    top: 25px;
    left: -35px;
    position: absolute;
    clip-path: polygon(67% 0, 100% 25%, 100% 100%, 0 100%, 0 0);
    background: #237249;
}

.stats__img {
    width: 465px;
    box-shadow:-14px 26px 65px rgba(0, 0, 0, 0.39);
    clip-path: polygon(67% 0, 100% 25%, 100% 100%, 0 100%, 0 0);
}

.stats__text {
    max-width: 460px;
}

.title {
}

.stats__title {
    margin-bottom: 60px;

}

.stats__desc {
    margin-bottom: 65px;
}

.stats__pic {
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 23%, 11% 0);
}