.welcome {
    margin-top: 30px;
}

.welcome__desk {
    max-width: 575px;
}

.welcome .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    font-size: 80px;
    line-height: 109%;
    letter-spacing: -0.03em;
    color: #fff;
}

.welcome__title {
    margin-bottom: 55px;
   position: relative;
}

.welcome__title::before {
    content: "";
    position: absolute;
    left: 40px;
    top: 80px;
    z-index: -5;
    width: 140px;
    height: 140px;
    border-radius: 100%;
    background: linear-gradient(245deg, rgba(35, 114, 73, 0.55) 0%, rgba(53, 198, 107, 0.73) 51.85%);
    filter: blur(90px);

}

.welcome__text {
    margin-bottom: 55px;
}

.welcome__btns-wrapper {
    display: flex;
    gap: 15px;
    margin-bottom: 55px;
}

.stats {
    display: flex;
    gap: 45px;
}

.stats__item {
    line-height: 144%;
    width: 126px;
}

.stats__num {
    font-size: 62px;
    letter-spacing: -0.03em;
    color: #fff;
}

.stats__num::after {
    content: "+";
    background: linear-gradient(244deg, #237249 0%, #35c66b 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.welcome__img-wrapper {
    padding-right: 60px;
    position: relative;
}

.welcome__img-wrapper::before {
    content: "";
    width: 800px;
    height: 800px;
    position: absolute;
    right: -100px;
    bottom: -410px;
    z-index: -10;
    background-image: url("./images/icons/lines.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.welcome__img-wrapper::after {
    content: "";
    position: absolute;
    right: 130px;
    bottom: 60px;
    z-index: -5;
    width: 300px;
    height: 300px;
    border-radius: 100%;
    background: linear-gradient(245deg, rgba(35, 114, 73, 0.55) 0%, rgba(53, 198, 107, 0.73) 51.85%);
    filter: blur(170px);
}

.welcome__img {
    width: 470px;
    animation: moveCup 1.5s infinite alternate;
    position: relative;
}