.welcome {

}

.container {

}

.title {
    font-size: 80px;
    line-height: 109%;
    letter-spacing: -0.3px;
    color: #FFF;

}

.welcome__title {

}

.welcome__text {

}

.welcome__btn-wrapper {

}

.btn {

}

.lik {

}

.stats {

}

.stats__item {

}

.welcome__img-wrapper {

}

.welcome__img {

}